@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  padding: 32px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__logo-link {
    color: #fff;
    font-family: "Cormorant Upright";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}

.menu {
  &_link {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    transition: all 0.5s;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    &:hover {
      border-bottom: 2px solid #c58b59;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;

    &.open {
      transform: translateX(0);
    }
  }

  .close__btn {
    display: none;
  }

  &__btn {
    display: none;
  }
}

.top {
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__text {
    max-width: 550px;
    width: 100%;
  }

  &__title {
    color: #dcca87;
    font-family: "Cormorant Upright";
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.04em;
    margin-bottom: 30px;
  }

  &__descr {
    color: #aaaaaa;
    margin-bottom: 30px;
  }

  &__link {
    color: #0c0b08;
    padding: 8px 32px;
    background-color: #dcca87;
    font-family: "Cormorant Upright";
    font-weight: 700;
    font-size: 16px;
    transition: all 0.5s;
    &:hover {
      background-color: rgb(146, 97, 53);
    }
  }

  &__img-box {
    max-width: 550px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
  }

  &__img {
    border-radius: 20px;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.about {
  padding: 70px 0;
  background-image: url("../images/about_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }

  &__text {
    max-width: 500px;
  }

  &__title {
    font-family: "Cormorant Upright";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 83px;
    letter-spacing: 0.03em;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #dcca87;
    margin-bottom: 30px;
  }

  &__descr {
    max-width: 500px;
  }

  &__img {
  }

  &__img-knite {
  }

  &__history {
  }
}

.kitchen {
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__img-box {
    overflow: hidden;
    max-width: 550px;
    width: 100%;
    border-radius: 20px;
  }

  &__img {
    border-radius: 20px;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__block {
    max-width: 650px;
  }

  &__title {
    color: #dcca87;
    margin-bottom: 30px;
    font-family: "Cormorant Upright";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    /* or 83px */

    letter-spacing: 0.03em;
  }

  &__descr {
  }
}

.cook {
  padding: 50px 0;
  &__title {
    color: #dcca87;
    margin-bottom: 50px;
    font-family: "Cormorant Upright";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    /* or 83px */

    text-align: center;
    letter-spacing: 0.03em;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 600px;
  }

  &__item-img {
    max-width: 205px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
  }

  &__img {
    border-radius: 5px;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__name {
    font-family: "Cormorant Upright";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #dcca87;
    margin-bottom: 10px;
  }

  &__info {
    max-width: 375px;
  }
  &__descr {
  }
}

.about {
  padding: 50px 0;

  &__food {
  }

  &__title {
    text-align: center;
  }

  &__food-list {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  &__food-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }

  &__food-descr {
    max-width: 650px;
  }

  &__food__item-title {
    font-family: "Cormorant Upright";
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: #dcca87;
    margin-bottom: 30px;
  }

  &__food-box {
    max-width: 500px;
    width: 100%;
  }

  &__food-img {
    width: 100%;
  }
  &__food-link {
    color: #0c0b08;
    padding: 8px 32px;
    background-color: #dcca87;
    font-family: "Cormorant Upright";
    font-weight: 700;
    font-size: 16px;
    transition: all 0.5s;
    margin-top: 30px;
    display: inline-block;
    &:hover {
      background-color: rgb(146, 97, 53);
    }
  }
}

.rec {
  &__title {
    color: #dcca87;
    font-family: "Cormorant Upright";
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.04em;
    margin-bottom: 30px;
    text-align: center;
  }

  &__text {
    color: #dcca87;
    margin-bottom: 15px;
  }

  &__list {
    margin-bottom: 30px !important;
  }

  &__item {
    padding-left: 5px;
    margin-bottom: 5px;
    &:before{
      content: '-  '
    }
  }
}

@import "media";
